<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-xs-3">
      <h2><a href="projects/{{ project.githubUsername }}/{{ project.githubProjectName }}/profile"> {{ project.name }}</a></h2>
    </div>
    <div class="col-xs-9 text-right header-buttons">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-click='decrement()' ng-show='!viewAll'></span>
        <span>text{{ semester }} </span>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click='increment()' ng-show='!viewAll'></span>
      <button class="btn btn-primary" type="button" ng-click='toggleViewAll()' ng-show='!viewAll'>
          View all
      </button>
      <button class="btn btn-primary" type="button" ng-click='toggleViewAll()' ng-show='viewAll'>
          View by semester
      </button>
      <button ng-show="userInProject()" class="btn btn-primary" type="button" ng-click="addBlogPost()">
          Add a post
      </button>
    </div>
    <div class="col-sm-12">
      <div ng-repeat="post in posts | orderBy:'-date'">
          <div class="extra-content">
              <div ng-show='userInProject()'>
                  <h2 id="title" class="col-xs-6" btf-markdown="post.title"></h2>
                  <div ng-show="userOwnsPost(post)"class="col-xs-6 text-right">
                      <div class="btn-group">
                          <button type="button" class='btn btn-default btn-sm' ng-click='editPost(post)'>Edit</button>
                          <button type="button" class='btn btn-default btn-sm' ng-click='savePost(post)'>Save</button>
                          <button type="button" class='btn btn-default btn-sm' ng-click='deletePost(post)'>Delete</button>
                      </div>
                  </div>
              </div>
              <div class="clear"></div>
              <div  id="content" btf-markdown="post.content"></div>
              <div class="bottom-bar">
                  <div class="bottom-bar-left">
                      <a href="users/{{ post.author._id }}/profile"> {{ post.author.name }}</a>
                  </div>
                  <div class="bottom-bar-right">
                      {{ post.date | date:'MMM dd yyyy HH:mm:ss' }}
                  </div>
              </div>
          </div>
      </div>
    </div>


</div>
<div ng-include="'components/footer/footer.html'"></div>
