<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <div class="table-responsive">
      <table class="table table-hover">
      <thead>
        <tr>
            <td >Name</td>
            <td >Email</td>
            <td >Attendence</td>
            <td >Commits</td>
            <td>Active</td>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="user in users">
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.attendance }}</td>
              <td>{{ user.commits.length }}</td>
              <td><a class="btn btn-warning" href="#" role="button" ng-click="deactivate( user._id )">Toggle</a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>