<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <form ng-submit="submitDayCode()">
                <div class="input-group dayCodeForm">
                    <input type="text" ng-model='userDayCode' class="form-control" placeholder="Day Code">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click='submitDayCode()' type="button">Submit Day Code</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show='unverified'>
        <div class="col-sm-12">
            <div class='alert alert-info unverified'>
                Your attendance needs to be verified by a mentor, this occurs randomly to make sure that nobody is dishonestly
                logging attendance. Simply ask a mentor to verify your presence to log your attendance.<br/><br/>
                If you do not log your attendance with a mentor, your unverified attendance will be recorded.
            </div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
