<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-left">
      <h3>Attendance</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <p>
      <form ng-submit="submitDayCode()">
        <div class="input-group dayCodeForm">
          <input id="dayCodeInput" type="text" ng-model='userDayCode' class="form-control" placeholder="Day Code" tabindex="1">
          <span class="input-group-btn">
            <button class="btn btn-primary" ng-click='submitDayCode()' type="button">Submit Day Code</button>
          </span>
        </div>
      </form>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" ng-show='unverified'>
      <div class='alert alert-info unverified'>
        Your attendance needs to be verified by a mentor; this occurs randomly to make sure that nobody is dishonestly
        logging attendance. Simply ask a mentor to verify your presence to log your attendance.<br/><br/>
        If you do not log your attendance with a mentor, your unverified attendance will be recorded.
      </div>
    </div>
    <div class="col-sm-8 col-sm-offset-2" ng-show='unverified'>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <p>
      <h3>Previous Attendance:</h3>
      </p>
    </div>
    <div class="col-sm-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <td sort-arrow sortby='datetime' text='Date' sortorder='sortorder'></td>
            <td sort-arrow sortby='bonusDay' text='Type' sortorder='sortorder'></td>
            <td sort-arrow sortby='smallgroup' text='Group' sortorder='sortorder'></td>
            <td sort-arrow sortby='verified' text='Verified' sortorder='sortorder'></td>
            <td sort-arrow sortby='present' text='Attendance' sortorder='sortorder'></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="submission in previousSubmissions | orderBy:sortorder" ng-class="submission.present?'present':'absent'">
            <td>{{ submission.date | date:"MMM dd" }}</a></td>
            <td>{{ submission.bonusDay?"Bonus":"Regular" }}</td>
            <td>{{ submission.smallgroup?"Smallgroup":"Full" }}</td>
            <td><i class="fa" ng-class="{'fa-check':submission.verified, 'fa-times':!submission.verified}"></i> &nbsp;{{ submission.verified?"Yes":"No" }}</td>
            <td>{{ submission.present?"Present":"Absent" }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
