<div class="viewAttendance">
  <div class="container" ng-hide='hide'>
    <div class="row">
      <div class="col-sm-12">
        <div class="row attendance">
          <div class="col-sm-12">
            <p ng-show='dayCode' >The Attendance Code is {{dayCode}}</p>
            <p ng-show='bonusDayCode' >The Bonus Attendance Code is {{bonusDayCode}}</p>
          </div>
          <div class="col-sm-12 button-row" ng-hide="bonusDayCode || dayCode">
            <button ng-hide='dayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='generateDayCode(false)'> Generate Attendance Code </button>
            <button ng-hide='bonusDayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='generateDayCode(true)'> Generate Bonus Attendance Code </button>
          </div>
          <div class="col-sm-12 button-row">
            <button ng-show='dayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='showDayCode = true; hide=true;'> Show Code Full Screen </button>
            <button ng-show='bonusDayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='showBonusDayCode = true; hide=true;'> Show Bonus Code Full Screen </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="isMentor()" ng-hide="showDayCode || showBonusDayCode">
      <div class="col-sm-12">
        <h3>Attendance Days:</h3>
      </div>
      <div class="col-sm-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <td sort-arrow sortby='date' text='Date' sortorder='sortorder'></td>
              <td sort-arrow sortby='bonusDay' text='Type' sortorder='sortorder'></td>
              <td sort-arrow sortby='numOfattendees.get(day.code)' text='Attendees' sortorder='sortorder'></td>
              <td text='Delete'>Delete</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="day in group.dayCodes | orderBy:sortorder">
              <td>{{ day.date | date:"MMM dd" }}</a></td>
              <td>{{ day.bonusDay?"Bonus":"Regular" }}</td>
              <td>
                <div ng-show="names" class="btn btn-link" uib-popover="{{namesOfattendees.get(day.code).join(', ')}}" popover-title="Attendees:">{{ numOfattendees.get(day.code) }}</div>
                <div ng-hide="names">{{ numOfattendees.get(day.code) }}</div></td>
              <td><a ng-click="deleteDay(day)"><i class="fa fa-times"></i> Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container-fluid" ng-show='showDayCode'>
    <div class='big-attendance text-center' ng-click='showDayCode = false; hide=false;'>
      <div class="row">
        <div class="col-sm-12">
          <div class='small-text'>
            The Attendance Code is...
          </div>
          <div class='big-text'>
            {{ dayCode }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" ng-show='showBonusDayCode'>
    <div class='big-attendance text-center' ng-click='showBonusDayCode = false; hide=false;'>
      <div class="row">
        <div class="col-sm-12">
          <div class='small-text'>
            The Bonus Attendance Code is...
          </div>
          <div class='big-text'>
            {{ bonusDayCode }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
