.footer {
  background-color: @navigation-background;
  color: @navigation-link;

  text-align: center;
  padding: 30px 0;
  margin-top: 40px;

  bottom: 0;
  width:100%;
  display: block;
  vertical-align: center;
  position: absolute;
  /* Set the fixed height of the footer here */
  height: 30px;

  a {
    color: @navigation-link;
    text-decoration: underline;
  }
}
