
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row text-left">
    <div class="col-sm-7">
      <h1>{{ project.name }}</h1>
    </div>
    <div class="col-sm-5 header-buttons text-right">
      <a ng-show="!isAuthor" class="btn btn-success" href="#" title="">Join Project</a>
      <a ng-show="isAuthor" class="btn btn-warning" href="#" title="">Leave Project</a>
      <a class="btn btn-info" href="{{project.websiteUrl}}" title="">Website</a>
      <a class="btn btn-info" href="{{project.repositoryUrl}}" title="">Repository</a>
      <a class="btn btn-info" href="/projects/{{project.githubUsername}}/{{project.githubProjectName}}/blog" title="">Blog</a>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-12 project-image">
          <img src="http://rcos.rpi.edu/site-media/screenshots/207.png"  class="img-responsive" alt="">
          <!-- <img src="  {{project.photos[0]}}"  class="img-responsive" alt=""> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 description">
          <h4>Description</h4>
          <p>{{project.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-offset-1">
      <div class="contributors">

        <div class="row">
          <div class="col-md-12">
            <h4>Contributors</h4>
          </div>
        </div>

        <div class="row">
          <div ng-repeat='user in project.authors'>
            <div class="col-md-4">
              <img href="/users/{{user.url}}/profile" src="{{user.avatar}}" class="img-responsive" alt="">
            </div>
            <div class="col-md-8">
              <a href="/users/{{user.url}}/profile" title="" class="contributor-name">
                {{user.name}}
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="contributors">
          <div class="row">
            <div class="col-md-12">
              <h4> {{commits.length}} Commits</h4>
            </div>
          </div>
          <div class="row">
            <div ng-repeat="commit in commits | limitTo: 10">
                <div class="col-md-12">
                    <a href="" title="" class="contributor-name">
                        {{ commit.author.login }}
                    </a>
                    {{ commit.message }}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
