.project-image{
    background-color: #eee;
    clear: both;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.modal-body textarea {
    resize: none;
}


.project-profile{
    h1{
        margin-top: 15px;
        display: inline-block;
    }

    .description{
        padding-left: 15px;
        padding-top: 15px;

        p{
            margin: 10px 0 0 5px;
        }
    }

    .author-container{
      display: -webkit-flex;
      -webkit-flex-direction: row;

      display: flex;
      flex-direction: row;

        .author{
            webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            width: 70px;
            text-align: center;
            margin: 0 10px;

            img{
                margin: 0 auto;
            }
        }
    }
    
}

.contributors{

}



.rss-feed{
    margin-top: 20px;

    .post-author, .post-date{
        font-weight: 500;
    }
}

.contributor-name{
    margin-top: 20px;
}

.header-buttons{
    padding-top: 20px;
}

.carousel-indicators li {
    border: 1px solid #444;
}

.carousel-indicators {
    bottom: -45px;
}

.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}

.carousel-indicators .active {
    background-color: #444;
}

.carousel {
    max-height: 600px;
    margin-top: 15px;
}

.project-image {
    padding-bottom: 50px;
}

.slide {
    height: 350px;
    margin: 0 auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

//change carousel transition to fade instead of slide
.carousel {
    .carousel-inner {
        .item {
            opacity: 0;
            -webkit-transition-property: opacity;
            -moz-transition-property: opacity;
            -o-transition-property: opacity;
            transition-property: opacity;
            -webkit-transition-duration: 300ms;
            -moz-transition-duration: 300ms;
            -o-transition-duration: 300ms;
            transition-duration: 300ms;
        }

        .active {
            opacity: 1;
        }

        .active.left,
        .active.right {
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .next.left,
        .prev.right {
            opacity: 1;
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

// hide the file upload input
#upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUpload {
    position: relative;
    overflow: hidden;
}

.remove-photo {
    float: right;
    position: relative;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: -10px;
}

desc textarea{
    width:100%;
    height:300px;
}



.description-buttons {
    margin-top: -10px;
    margin-bottom: 8px;
    margin-left: -10px;
}

#nameDiv {
    margin-top: 30px
}