@mixin background-border {
  background-color: #eee;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.project-image{
  @include background-border;
}

.contributors{
  @include background-border;
  padding-top: 5px;
}

.description{
  @include background-border;
}

.contributor-name{
    margin-top: 20px;
}

.header-buttons{
    padding-top: 20px;
}
