<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

    <div id="header">
    <h1> {{ past ? "Past" : "Current" }} RCOS Projects</h1>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProject">
        Add a Project
    </button>
    <button type="button" class="btn btn-primary" ng-click="getCurrentProjects()" ng-show="past">
        Show Current Projects
    </button>
    <button type="button" class="btn btn-primary" ng-click="getPastProjects()" ng-show="!past">
        Show Past Projects
    </button>
    </div>

    <br/><br/>

    <div class="modal fade" id="addProject" tabindex="-1" role="dialog" aria-labelledby="addProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addProjectLabel">Add a Project</h4>
                </div>
                <div class="modal-body" >
                    <form novalidate name="addProjectForm" class="css-form">
                        <input ng-model="projectToAdd.name" class="form-control addForm" placeholder="Name of the project" title="Name" required=""/><br/>
                        <input type="url" ng-model="projectToAdd.websiteUrl" class="form-control" placeholder="Your project's homepage" title="Website" required=""/><br/>
                        <input type="url" ng-model="projectToAdd.repositoryUrl" class="form-control" placeholder="URL for your project's repository" title="Repository" required=""/><br/>
                        <textarea ng-model="projectToAdd.description" class="form-control" placeholder="Describe your project" title="Description" required=""></textarea><br/>
                        Active? <input type="checkbox" ng-model="projectToAdd.active" /> <br/><br/>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="submit" ng-click="addProjectForm.$valid && submit(addProjectForm)" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="project in projects">
        <div class="extra-content" >
            <h2 id="name"><a href="/projects/{{project.githubUsername}}/{{project.githubProjectName}}/profile">{{ project.name }}</a> </h2>
            <ul class="project-info">
                <li><a href="{{ project.websiteUrl }}">Website</a></li>
                <li><a href="{{ project.blogUrl }}">Blog</a></li>
                <li><a href="{{ project.repositoryUrl }}">Repostory</a></li>
            </ul>
            <div class="clear"></div>
            <div id="description">{{ project.description }}</div>
        </div>
    </div>
</div>
