<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container profile'>
    <div class='row'>
        <div class='col-md-3 profile-sidebar'>
            <img width='75%' ng-src='{{user.avatar}}&s=256px'/>
            <span id='semester-count' ng-show="user.semesters">{{user.semesters}}</span>
            <div class='sidebar-text name'>
                {{user.name}}
            </div>
            <div class='sidebar-text title'>
                <div ng-show="loggedInUserRole !== 'admin'">
                    {{user.role}}
                </div>
                <div ng-show="loggedInUserRole === 'admin'">
                    <select ng-model="user.role">
                        <option value="user">User</option>
                        <option value="mentor">Mentor</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button class='btn btn-default btn-xs' ng-click='setRole()' ng-disabled="originalRole === user.role">Save</button>
                </div>
            </div>
            <div class='sidebar-text box'>

              <div class='row'>
                <div class='col-xs-12'>
                  <p>
                  <i class="fa fa-github"></i> <a target="_blank" href='http://github.com/{{user.githubProfile}}'>{{ user.githubProfile }}</a>
                  </p>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12'>
                  <i class="fa fa-envelope"></i>
                  <a ng-href="mailto:{{user.email}}">{{ user.email }}</a>
                </div>
              </div>
              <div class='row'>
                <div class='col-xs-12'>
                  <div ng-show='canEdit()'>
                    <br/>
                    <a ng-href="/settings" class="btn btn-primary" type="button">Edit Profile</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div ng-show="!user.tech.length">Add a new tech tag: </div>
            <div class='tech-boxes'>
                <div ng-repeat="tech in user.tech track by $index">
                    {{tech}}
                    <button ng-show='canEdit()' class='btn btn-default btn-xs' ng-click='removeTech(tech)'>x</button>
                </div>
                <div ng-show='canEdit()'>
                    <input ng-enter="addTech()" ng-model="insertTechContent" size='4' type='text'/>
                    <button ng-click="addTech()" class='btn btn-default btn-xs'>+</button>
                </div>
            </div>
            <div ng-hide="user.bio">User has not written a bio</div>
            <div ng-show="canEdit() || user.bio" class='content-box'>
                <div class='content-title row'>
                    <div class='col-xs-6'>Bio</div>
                </div>
                <div style="white-space:pre;" btf-markdown="user.bio"></div>
            </div>
            <div class='content-box' ng-repeat='project in projects'>
                <div class='project row'>
                    <div class='col-xs-3' style='text-align:center;'>
                      <a href="#" class="thumbnail" ng-hide="project.photos.length === 0">
                        <img class="img img-responsive full-width" ng-src='/uploads/{{ project.githubUsername }}/{{ project.githubProjectName }}/{{ project.photos[0] }}'/>
                      </a>
                    </div>
                    <div class='col-xs-9'>
                        <div class='title'><a href="/projects/{{ project.githubUsername }}/{{ project.githubProjectName }}/profile"> {{project.name}} </a></div>
                        <a ng-href='{{project.repositoryUrl}}' class='repo'> {{project.repositoryUrl}} </a>
                        <div class='description'>{{project.description}}</div>
                        <div class='tech-boxes'>
                            <div ng-repeat='tech in project.tech'>{{tech}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div ng-hide='!canEdit()' class='content-box'>
                <div class='content-title'>
                    Attendance
                </div>
                <div>
                    <div class='content-subtitle'>
                        Large group <span class='attendance-score'>{{user.full.normal}} / {{user.full.all}} days + {{user.full.bonus}} bonus</span>
                    </div>
                    <div id='attendance-box-container'>
                        <div ng-style="{ 'width' : user.full.greyWidth+'%'}" class='grey'></div>
                        <div ng-style="{ 'width' : user.full.goodWidth+'%'}" class='good'></div>
                        <div ng-style="{ 'width' : (100-user.full.greyWidth-user.full.goodWidth)+'%'}" class='bad'></div>

                    </div>
                </div>
                <br>
                <div ng-show="user.smallgroup">
                    <div class='content-subtitle'>
                        Small group <span class='attendance-score'>{{user.small.normal}} / {{user.small.all}} days + {{user.small.bonus}} bonus</span>
                    </div>
                    <div id='attendance-box-container'>
                        <div ng-style="{ 'width' : user.small.greyWidth+'%'}" class='grey'></div>
                        <div ng-style="{ 'width' : user.small.goodWidth+'%'}" class='good'></div>
                        <div ng-style="{ 'width' : (100-user.small.greyWidth-user.small.goodWidth)+'%'}" class='bad'></div>

                    </div>
                </div>
            </div>
            <div class='content-box'>
                <div class='content-title'>Commits</div>
                <div ng-show="user.commits.length == 0">No commits yet...</div>
                <div ng-repeat='event in user.github.events' class='commit'>
                    <a href='{{event.url}}'>{{event.message}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
