<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
    <div class='row'>
        <div class='col-md-3 profile-sidebar'>
            <img width='75%' ng-src='{{user.avatar}}&s=256px'/>
            <span id='semester-count' ng-show="user.semesters">{{user.semesters}}</span>
            <div class='sidebar-text name'>
                {{user.name}}
            </div>
            <div class='sidebar-text title'>
                <div ng-show="loggedInUserRole !== 'admin'">
                    {{user.role}}
                </div>
                <div ng-show="loggedInUserRole === 'admin'">
                    <select ng-model="user.role">
                        <option value="user">User</option>
                        <option value="mentor">Mentor</option>
                        <option value="admin">Admin</option>
                    </select>
                    <button class='btn btn-default btn-xs' ng-click='setRole()' ng-disabled="originalRole === user.role">Save</button>
                </div>
            </div>
            <div class='sidebar-text box'>
                <a href='http://github.com/{{user.githubProfile}}'>Github</a>
                <br/>
                {{user.email}}
        </div>
        </div>
        <div class='col-md-6'>
        <div ng-show="!user.tech.length">User has not input any tags</div>
            <div class='tech-boxes'>
                <div ng-repeat="tech in user.tech track by $index">
                    {{tech}}
                    <button ng-show='isuser' class='btn btn-default btn-xs' ng-click='removeTech(tech)'>x</button>
                </div>
                <div ng-show='isuser'>
                    <input ng-enter="addTech()" ng-model="insertTechContent" size='4' type='text'/>
                    <button ng-click="addTech()" class='btn btn-default btn-xs'>+</button>
                </div>
            </div>
            <div ng-show="!user.bio">User has not written a bio</div>
            <div ng-show='isuser || user.bio' class='content-box'>
                <div class='content-title row'>
                    <div class='col-xs-6'>Bio</div>
                    <div ng-show='isuser' class='col-xs-6 text-right'>
                        <div class="btn-group" style='margin-bottom:8px'>
                            <button type="button" class='btn btn-default btn-sm' ng-click='editBio()'>Edit</button>
                            <button type="button" class='btn btn-default btn-sm' ng-click='saveBio()'>Save</button>
                        </div>
                    </div>
                </div>
                <bio></bio>
            </div>
            <div class='content-box' ng-repeat='project in projects'>
                <div class='project row'>
                    <div class='col-xs-3' style='text-align:center;'>
						<!-- TODO: Add avatar -->
                        <img width='80%' ng-src='{{project.avatar}}'/>
                    </div>
                    <div class='col-xs-9'>
                        <div class='title'><a href="/projects/{{ project.githubUsername }}/{{ project.githubProjectName }}/profile"> {{project.name}} </a></div>
                        <a ng-href='{{project.repositoryUrl}}' class='repo'> {{project.repositoryUrl}} </a>
                        <div class='description'>{{project.description}}</div>
                        <div class='tech-boxes'>
                            <div ng-repeat='tech in project.tech'>{{tech}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div ng-hide='!isuser' class='content-box'>
                <div class='content-title'>
                    Attendance <span class='attendance-score'>{{user.attendanceScore}}% +{{user.attendanceBonus}}%</span>
                </div>
                <div id='attendance-box-container'>
                    <div ng-repeat='day in user.attendance' class='good'></div>
                </div>
            </div>
            <div class='content-box'>
                <div class='content-title'>Commits</div>
                <div ng-repeat='event in user.github.events' class='commit'>
                    <a href='{{event.url}}'>{{event.message}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
