.profile-sidebar{
    position:relative;
}

.profile-sidebar img{
    border-radius:200px;
    box-shadow:1px 1px 3px rgba(0,0,0,.75);
}

#semester-count{
    border-radius:30px;
    background-color:#363;
    color:#fff;
    font-size:24px;
    padding:8px;
    padding-left:18px;
    padding-right:18px;
    position:absolute;
    right:70px;
    top:150px;
    box-shadow:1px 1px 3px rgba(0,0,0,.5);
}

.sidebar-text.name{
    padding-top:24px;
    font-size:24px;
}

.sidebar-text.title{
    margin-top:0px;
    color:#888;
    font-size:18px;
    padding-bottom:20px;
}

.sidebar-text.box{
    background-color:#eee;
    padding:8px;
    border-radius:2px;
}

.sidebar-text{
    margin-top:10px;
}

.tech-boxes{
    margin-bottom:20px;
}

.tech-boxes div{
    display:inline-block;
    padding:4px;
    padding-left:6px;
    padding-right:6px;
    margin:2px;
    background-color:#ccc;
    border-radius:5px;
}

.content-box{
    background-color:#eee;
    padding:16px;
    border-radius:4px;
    margin-bottom:14px;

    .content-title{
        padding-bottom:2px;
        border-bottom:1px solid #ccc;
        margin-bottom:8px;
        font-size:18px;
    }

}

.content-box{
    .commit{
        margin-bottom:12px;
    }
    .project{
        img{
            margin:auto;
            border-radius:100px;
        }
        .title{
            font-size:18px;
            margin-bottom:8px;
            font-weight:bolder;
        }
        .tech-boxes{
            padding-top:10px;
            margin-bottom:0px;
        }
    }
}

.attendance-score{
    color:#888;
    float:right;
}

#attendance-box-container{

    div{
        display:inline-block;
        width:16px;
        height:16px;
    }
    div.good{
        background-color:#7a7;
    }
    div.bad{
        background-color:#a77;
    }

}

bio textarea{
    width:100%;
    height:300px;
}
