     
<div class="tech-tags">
  <div class='tech-boxes' ng-show="tags.length || canEdit()">
      <span ng-repeat="tag in tags track by $index">
        {{tag}}
        <g class="glyphicon glyphicon-remove" ng-show='canEdit()' class='btn btn=default btn-xs' ng-click='removeTech(tag)' aria-hidden="true"></g>
      </span>
      <input ng-enter="addTechBubble()" ng-show='canEdit()' placeholder='html' ng-model="insertTechContent" size='4' type='text' />
      <button ng-click="addTechBubble()" ng-show='canEdit()' class="btn btn-default btn-xs">+</button>
  </div>
</div>