.dayCodeForm{
  margin-top:40px;
}

.students {

  text-align: center;
  font-size:14px;

  .student{
    text-align: left;
    padding-top:4px;
    padding-left:4px;
    opacity:.8;
    width:226px;
    height:80px;
    background-color:#ccc;
    margin-right:2px;
    margin-bottom:2px;
    display:inline-block;
  }

  .student:hover{
    cursor:pointer;
    opacity:1;
  }

  .student.present{
    background-color:#59FF59;
  }

}

.big-attendance{

	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index: 1000;
	background-color:#fff;
	padding-top:150px;

	text-align:center;

	.small-text{
		font-size:64px;
	}
	.big-text{
		font-size:240px;
	}
}
