<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container smallgroup' ng-show='loaded && !smallgroup && isMentor()'>
  <div class="row">
    <div class="col-sm-12">
      <h3> You do not have a small group </h3>
      <button class="btn btn-primary" ng-click="createSmallGroup()" ng-show="isMentor()"> Create Small Group </button>
    </div>
  </div>
</div>
<div class='container smallgroup' ng-show='loaded && !smallgroup && !isMentor()'>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2> You do not have a small group yet.</h2>
      <h4> If you already have a mentor, ask them to add you!</h4>
    </div>
  </div>
</div>

<div class="container smallgroup" ng-show="smallgroup">
  <div class="row">
    <div class="col-sm-12" ng-hide="edittingSmallGroupName">
      <h2 class="group-name">
        Small Group: {{smallgroup.name}}
        <i class="glyphicon glyphicon-edit edit-name" aria-hidden="true" ng-click="editSmallGroupName()" ng-show="isMentor() && !showAttendanceCode"></i>
      </h2>
    </div>
    <div class="col-sm-4" ng-show="edittingSmallGroupName">
      <h3>Group Name:</h3>
      <form class="input-group" ng-submit="saveSmallGroupName()">
        <input type="text" class="form-control" maxlength="50" ng-model="smallgroup.name" />
        <span class="input-group-btn">
          <button class="btn btn-success" ng-click="saveSmallGroupName()" type="button">
            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" ng-click="edittingSmallGroupName = false;" type="button">
            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
  </div>
  <div class="info" ng-hide='showAttendanceCode'>
    <div class="row attendance" ng-show="isMentor()">
      <div class="col-sm-12">
        <p ng-show='dayCode' >The Attendance Code is {{dayCode}}</p>
        <button ng-hide='dayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='generateAttendanceCode()'> Generate Attendance Code </button>
        <button ng-show='dayCode' class='btn btn-primary' ng-show='isMentor()' ng-click='showAttendanceCode = true;'> Show Code Full Screen </button>
        <div ng-show='isPresent()'>
          Your attendance has been taken!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5" ng-show="isMentor()">
        <h3>User Registration</h3>

        <form name="adduserform" ng-submit="addUser(input_user)" class="input-group dayCodeForm">
          <input type="text" ng-model="input_user" uib-typeahead="user as user.name for user in allUsers |   filter:$viewValue | limitTo:8" class="form-control" placeholder="User name" typeahead-show-hint="true" typeahead-min-length="0">
          <span class="input-group-btn">
            <button class="btn btn-primary" multiple ng-click='addUser(input_user)' type="button">Add User</button>
          </span>
        </form>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>Group Leaders</h3>
      </div>
      <div class='col-sm-12'>
        <div class='students'>
          <div ng-repeat='student in leaders' class='block col-sm-3'>
            <div class='student' ng-class='{
            present: student.attendance.length
            }'>
              <div class='photo'>
                <img ng-src='{{ student.avatar}}&s=72px'/>
              </div>
              <div class='text'>
                <div class='details'>
                  <div class='name'>
                    {{student.name}}
                  </div>
                  <div class='projects'>
                    <span ng-repeat='project in student.projects'> {{project.name}}, </span>
                  </div>
                </div>
                <!-- TODO, switch to a modal with info -->
                <div class='icon' ng-show="isMentor()">
                  <i class="fa fa-times" ng-click="removeUser(student)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>Group Members</h3>
      </div>
      <div class='col-sm-12'>
        <div class='students'>
          <div ng-repeat='student in members' class='block col-sm-3'>
            <div class='student' ng-class='{
            present: student.attendance.length
            }'>
              <div class='photo'>
                <img ng-src='{{student.avatar}}&s=72px'/>
              </div>
              <div class='text'>
                <div class='details'>
                  <div class='name'>
                    {{student.name}}
                  </div>
                  <div class='projects'>
                    <span ng-repeat='project in student.projects'> {{project.name}}, </span>
                  </div>
                </div>
                <!-- TODO, switch to a modal with info -->
                <div ng-show="isMentor()" class='icon'>
                  <i class="fa fa-times" ng-click="removeUser(student)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-show="isMentor()">
  <div class="col-sm-12">
    <h3>Attendance Days:</h3>
  </div>
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <td sort-arrow sortby='datetime' text='Date' sortorder='sortorder'></td>
          <td sort-arrow sortby='bonusDay' text='Type' sortorder='sortorder'></td>
          <td text='Delete'>Delete</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="day in smallgroup.dayCodes | orderBy:sortorder">
          <td>{{ day.date | date:"MMM dd" }}</a></td>
          <td>{{ day.bonusDay?"Bonus":"Regular" }}</td>
          <td><a ng-click="deleteDay(day)"><i class="fa fa-times"></i> Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid smallgroup" ng-show='showAttendanceCode'>
  <div class='big-attendance text-center' ng-click='showAttendanceCode=false;'>
    <div class="row">
      <div class="col-sm-12">
        <div class='small-text'>
          The Attendance Code is...
        </div>
        <div class='big-text'>
          {{ dayCode }}
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
