<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-show='!smallgroup && isMentor()' class='container smallgroup'>
  <div class="row">
    <div class="col-sm-12">
      <h3> You do not have a small group </h3>
      <button class="btn btn-primary" ng-click="createSmallGroup()" ng-show="isMentor()"> Create Small Group </button>
    </div>
  </div>
</div>
<div ng-show='!smallgroup && !isMentor()' class='container smallgroup'>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2> You do not have a small group yet.</h2>
      <h4> If you already have a mentor, ask them to add you!</h4>
    </div>
  </div>
</div>

<div ng-show="smallgroup" class="container smallgroup">
  <div class="row">
    <div class="col-sm-12" ng-hide="edittingSmallGroupName">
      <h3 class="group-name">
        Small Group: {{smallgroup.name}}
        <i class="glyphicon glyphicon-edit edit-name" aria-hidden="true" ng-click="editSmallGroupName()" ng-show="isMentor()"></i>
      </h3>
    </div>
    <div class="col-sm-4" ng-show="edittingSmallGroupName">
      <h3>Group Name:</h3>
      <form class="input-group" ng-submit="saveSmallGroupName()">
        <input type="text" class="form-control" maxlength="50" ng-model="smallgroup.name" />
        <span class="input-group-btn">
          <button class="btn btn-success" ng-click="saveSmallGroupName()" type="button">
            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" ng-click="edittingSmallGroupName = false;" type="button">
            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
          </button>
        </span>
      </form>
    </div>
  </div>
  <div class="info" ng-hide='showAttendanceCodeFull'>
    <div class="row attendance" ng-show="isMentor()">
      <div class="col-sm-12">
        <p ng-show='showAttendanceCode' >The Attendance Code is {{smallgroup.dayCode}}</p>
        <button ng-hide='showAttendanceCode' class='btn btn-primary' ng-show='isMentor()' ng-click='generateAttendanceCode()'> Generate Attendance Code </button>
        <button ng-show='showAttendanceCode' class='btn btn-primary' ng-show='isMentor()' ng-click='showAttendanceCodeFull = true;'> Show Code Full Screen </button>
        <div ng-show='isPresent()'>
          Your attendance has been taken!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5" ng-show="isMentor()">
        <h3>User Registration</h3>
        <form name="adduserform" ng-submit="addUser(input_user)" class="input-group dayCodeForm">
          <input type="text" list="allUsers" ng-model='input_user' class="form-control" placeholder="User name" />
          <datalist id="allUsers">
            <option ng-repeat="user in allUsers" value="{{user.name}}" />
          </datalist>
          <span class="input-group-btn">
            <button class="btn btn-primary" multiple ng-click='addUser(input_user)' type="button">Add User</button>
          </span>
        </form>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>Group Leaders</h3>
      </div>
      <div class='col-sm-12'>
        <div class='students'>
          <div ng-repeat='student in leaders' class='block col-sm-3'>
            <div class='student' ng-class='{
                   present: student.attendance.length
                 }'>
              <div class='photo'>
                <img ng-src='{{ student.avatar}}&s=72px'/>
              </div>
              <div class='text'>
                <div class='details'>
                  <div class='name'>
                    {{student.name}}
                  </div>
                  <div class='projects'>
                    <span ng-repeat='project in student.projects'> {{project.name}}, </span>
                  </div>
                </div>
                <!-- TODO, switch to a modal with info -->
                <div class='icon' ng-show="isMentor()">
                  <i class="fa fa-times" ng-click="removeUser(student)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>Group Members</h3>
      </div>
      <div class='col-sm-12'>
        <div class='students'>
          <div ng-repeat='student in members' class='block col-sm-3'>
            <div class='student' ng-class='{
                   present: student.attendance.length
                 }'>
              <div class='photo'>
                <img ng-src='{{student.avatar}}&s=72px'/>
              </div>
              <div class='text'>
                <div class='details'>
                  <div class='name'>
                    {{student.name}}
                  </div>
                  <div class='projects'>
                    <span ng-repeat='project in student.projects'> {{project.name}}, </span>
                  </div>
                </div>
                <!-- TODO, switch to a modal with info -->
                <div ng-show="isMentor()" class='icon'>
                  <i class="fa fa-times" ng-click="removeUser(student)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row big-attendance' ng-show='showAttendanceCodeFull' ng-click='showAttendanceCodeFull = false;'>
    <div class="col-sm-12 text-center">
      <div class='small-text'>
        The Attendance Code is...
      </div>
      <div class='big-text'>
        {{smallgroup.dayCode}}
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
