.developers{
    .profile-img{
        margin: 5%;
    }

    .image-row{
    }

    .align-bottom{
        vertical-align: middle;
    }

    .full-height{
        position:relative;
        overflow:hidden;

    }
    .profile-img{
        display: inline;
    }
    .user-box{
        overflow:hidden;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        margin-bottom: 10px;

    }
    .user-name{
        height: 2em;
    }
}
