.developers{
    .profile-img{
        margin: 5%;
    }

    .image-row{
    }

    .align-bottom{
        vertical-align: middle;
    }

    .full-height{
        position:relative;
        overflow:hidden;

    }
    .profile-img{
        display: inline;
    }
}
