
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <h3>RCOS Users</h3>
        <br>
    </div>
    <div class="row text-right">
        <div class="text-left">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ng-click='decrement()'></span>
                {{ currentPage + 1 }} of {{ numberOfPages() }}
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ng-click='increment()'></span>
        </div>
        <!-- Single button -->
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {{currentView}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="changeView('current')">Active Developers</a></li>
            <li><a href="#" ng-click="changeView('past')">Past Developers</a></li>
          </ul>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="user in users | startFrom:currentPage*pageSize | limitTo:pageSize" class="col-md-2 col-sm-2 text-center">
            <div class="row image-row">
                <a href="/users/{{ user.githubProfile }}/profile" title="">
                    <img class="profile-img img-responsive" src='{{user.avatar}}?s=128px'>
                </a>
                <p>
                    <a href="/users/{{ user.githubProfile }}/profile" title="" class="">{{ user.name }}</a>
                </p>
            </div>
        </div>
    </div>
</div>
