<div class="panel panel-default">
  <div class="panel-heading">My Projects</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li ng-repeat="project in myProjects">
        <a ng-href="/projects/{{project.githubUsername}}/{{project.githubProjectName}}/profile">{{ project.name }}</a>
      </li>
      <li ng-show="!myProjects.length">No Projects</li>
    </ul>
  </div>
</div>
<div ng-show="isMentor()" class="panel panel-default">
  <div class="panel-heading">Mentees Projects</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li ng-repeat="project in menteeProjects">
        <a ng-href="/projects/{{project.githubUsername}}/{{project.githubProjectName}}/profile">{{ project.name }}</a>
      </li>
      <li ng-show="!menteeProjects.length">No Projects</li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Favorite Projects</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li ng-repeat="project in favoriteProjects">
        <a href="" ng-click="markNotFavorite(project)"><i class="fa fa-trash" title="Unfavorite this project"></i></a>
        <a ng-href="/projects/{{project.githubUsername}}/{{project.githubProjectName}}/profile">{{ project.name }}</a>
      </li>
      <li ng-show="!favoriteProjects.length">No Projects</li>
    </ul>
  </div>
</div>
