<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
    <div class='row'>
        <div class='col-md-3 profile-sidebar'>
            <img width='75%' src='{{user.avatar}}?s=1024px'/>
            <span id='semester-count' ng-show="user.semesters">{{user.semesters}}</span>
            <div class='sidebar-text name'>
                {{user.name}}
            </div>
            <div class='sidebar-text title'>
                {{user.role}}
            </div>
            <div class='sidebar-text box'>
                <a href='http://github.com/{{user.githubProfile}}'>Github</a>
                <br/>
                {{user.email}}
            </div>
        </div>
        <div class='col-md-6'>
            <div class='tech-boxes'>
                <div ng-repeat='tech in user.tech'>
                    {{tech}}
                    <button ng-show='isuser' class='btn btn-default btn-xs' ng-click='removeTech(tech)'>x</button>
                </div>
                <div ng-show='isuser'>
                    <input ng-enter="addTech()" ng-model="insertTechContent" size='4' type='text'/>
                    <button ng-click="addTech()" class='btn btn-default btn-xs'>+</button>
                </div>
            </div>
            <div class='content-box'>
                <div ng-show='isuser' class='content-title row'>
                    <div class='col-xs-6'>Bio</div>
                    <div class='col-xs-6 text-right'>
                        <div class="btn-group" style='margin-bottom:8px'>
                            <button type="button" class='btn btn-default btn-sm' ng-click='editBio()'>Edit</button>
                            <button type="button" class='btn btn-default btn-sm' ng-click='saveBio()'>Save</button>
                        </div>
                    </div>
                </div>
                <bio></bio>
            </div>
            <div class='content-box' ng-repeat='project in user.projects'>
                <div class='project row'>
                    <div class='col-xs-3' style='text-align:center;'>
                        <img width='80%' src='{{project.avatar}}'/>
                    </div>
                    <div class='col-xs-9'>
                        <div class='title'> {{project.name}} </div>
                        <div class='description'>{{project.description}}</div>
                        <div class='tech-boxes'>
                            <div ng-repeat='tech in project.tect'>{{tech}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-md-3'>
            <div ng-hide='!isuser' class='content-box'>
                <div class='content-title'>
                    Attendance <span class='attendance-score'>{{user.attendanceScore}}% +{{user.attendanceBonus}}%</span>
                </div>
                <div id='attendance-box-container'>
                    <div ng-repeat='day in user.attendance' class='good'></div>
                </div>
            </div>
            <div class='content-box'>
                <div class='content-title'>Commits</div>
                <div ng-repeat='event in user.github.events' class='commit'>
                    <a href='{{event.url}}'>{{event.message}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
