.currentSemester{

}

.big-attendance{

	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index: 1000;
	background-color:#fff;
	padding-top:150px;

	text-align:center;

	.small-text{
		font-size:64px;
	}
	.big-text{
		font-size:240px;
	}
}
.displayURP{
	background: #808080
}
.newSemester{
	margin-top:50px;
}
