<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container classcontrol">
    <div class="row">
        <div class="col-sm-12">
            <div class='currentSemester'>
                <div class='info' ng-hide='showAttendanceCode'>
                    <p>Current semester: {{ currentClass.semester }}</p>
                    <p ng-show='attendanceCode' >The attendance code is: {{ attendanceCode }}</p>
                    <button ng-show='!attendanceCode' ng-click='generateAttendanceCode()' class='btn btn-primary'>Generate Attendance Code</button>
                    <button ng-show='!attendanceCode' ng-click='generateAttendanceCode(true)' class='btn btn-warning'>Generate Bonus Day Code</button>
                    <button ng-show='attendanceCode' ng-click='showAttendanceCode=true' class='btn btn-primary'>Show Code Full Screen</button>
                </div>
                <div class='big-attendance' ng-show='showAttendanceCode' ng-click='showAttendanceCode=false;'>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class='small-text'>
                                The Attendance Code is...
                            </div>
                            <div class='big-text'>
                                {{ attendanceCode }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 buttonLine">
            <button ng-show= "!displayURP && !showAttendanceCode" ng-click='URPDisplay()' class='btn btn-primary displayURP'>Show URP Form</button>
            <button ng-show= "displayURP && !showAttendanceCode" ng-click='URPDisplay()' class='btn btn-primary displayURP' >Hide URP Form</button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class='buttonLine' ng-show='!showAttendanceCode'>
                <button ng-hide='showNewSemester' ng-click='showNewSemester=true' class='btn btn-primary'>Create a New Semester</button>
                <div ng-show="showNewSemester">
                    <form class="form-inline" name="form" ng-submit="createNewSemester(form)" novalidate>
                        <div class="form-group" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                        ng-class="{ 'has-success': form.semester.$valid && (submitted || form.semester.$dirty),
                        'has-error': form.semester.$invalid && (submitted || form.semester.$dirty) }">
                        <input type="text" class="form-control" id="semester" placeholder="{{todaySemester.semester}}" ng-model="newSemester.semester">
                        </div>
                        <div class="form-group"  ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"
                            ng-class="{ 'has-success': form.year.$valid && (submitted || form.year.$dirty),
                            'has-error': form.year.$invalid && (submitted || form.year.$dirty) }">
                            <input type="text" class="form-control" id="year" placeholder="{{todaySemester.year}}" ng-model="newSemester.year">
                        </div>
                        <button type="submit" class="btn btn-default">Create new semester</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
